<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | sample app</title>
</head>
<body>
<h1>About page</h1>
<p>About us
<a href="http://www.railstutorial.org">Ruby on Rails about page</a>
<a href="http://www.railstutorial.org/book">book</a>
</p>
</body>
</html>
