<h1>Help</h1>
<p>If you are the first user you can Read this mannual:<br>
1)If you are new user then please do sign up with Name, email, password <br>
2)Once you sign up then login using your email and password<br>
3)In help tag you can get how to work with site.<br>
4)In the Home tag you will see the home page.<br>
5)When you enter in this website you cab follow the people <br>
you want and can see their posts that can be image or text.<br>
6)If other people wants to know you then they can follow you.<br>

**ENJOY YOUR STAY HERE***</p>
